services:
  - type: web
    name: semptify
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: PRODUCTION
        value: true
      - key: GROQ_API_KEY
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: DROPBOX_APP_KEY
        sync: false
      - key: DROPBOX_APP_SECRET
        sync: false
      - key: FLASK_SECRET_KEY
        value: 199b51253d456d225c511eb6ef5d871ac649715a52f3ed297f51fafdc3937542
      - key: FORCE_HTTPS
        value: 1
      - key: SECURITY_MODE
        value: open
      - key: R2_ACCOUNT_ID
        sync: false
      - key: R2_ACCESS_KEY_ID
        sync: false
      - key: R2_SECRET_ACCESS_KEY
        sync: false
      - key: R2_BUCKET_NAME
        sync: false
      - key: R2_ENDPOINT_URL
        value: https://<account_id>.r2.cloudflarestorage.com
